*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex-center {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  color: white;
  text-decoration: none;
  width: 250px;
  min-height: 100px;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  opacity: 0.75;
}
canvas {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
#gif-rick {
  width: 0;
  height: 0;
}
main {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  z-index: 2;
}
a {
  cursor: pointer;
}
h1 {
  display: none;
  font-family: "Poppins", sans-serif;
}
